body {
    background: #000 !important;
}

.extra-dark {
    background: #000 !important;
}

.main {
    height: 100%;
}

.bg-dark-gray {
    background-color: #232530;
}

.bg-dark-blue {
    background-color: #0F172A;
}

.navbar-brand {
    font-size: 24px !important;
}

.nav-link {
    color: #fff !important;
    font-size: 12px;
}

.navbar-toggler {
    outline: none;
    border: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url('./menu-icon.svg') !important;
}

.mini-text {
    font-size: 13.5px;
}

.micro-text {
    font-size: 12px;
}

.icon-text-holder {
    display: flex;
    align-items: start;
    gap: 5px;
}

.main-flex {
    display: flex;
    justify-content: space-between;
}


.search-holder {
    background-color: #0F172A;
}

.search-gray {
    background-color: #232530;
}

.search-gray:focus {
    background-color: #232530;
}

.search-bar-border {
    border-color: #232530;
}
.search-bar-border:focus {
    border-color: #232530;
}

.search-btn {
    background-color: #232530;
    border-color: #232530;
}

.line-holder {
    max-width: 100%;
    overflow: hidden;
}

.table-card {
    background-color: #171923;
}

.transaction-card {
    display: flex;
    justify-content: space-between;
}

.custom-tr {
    background-color: #000;
    /* border: none !important; */
}

.custom-tr td {
    background-color: #000;
}

.txn-hash-search {
    padding-top: 6%;
    padding-bottom: 6%;
}

.explore-btn {
    border-radius: 50px;
}

.flex-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-search {
    height: 80px;
    background-color: #000 !important;
    border-radius: 0;
    /* padding-top: 8% !important;
    padding-bottom: 8% !important; */
    color: #fff;
}

.search-input {
    flex: 1;
}

.bid-btn {
    background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);
    border: none;
}

.nft-card {
    box-sizing: border-box;
    border-radius: 8px;
}

.card-body {
    padding: 8px !important;
}

.module-border-wrap {
    /* max-width: 250px; */
    padding: 1rem;
    position: relative;
    /* background: linear-gradient(to bottom, #FFA500, #33FF00); */
    background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);
    padding: 2px;
    border-radius: 8px;
}